{% extends "::base.html.twig" %}

{% block title %}Download{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
    {{ ebook.codice }}
    {{ ebook.epub }}
    </div>
</div>
{% endblock %}