{% extends "::base.html.twig" %}

{% block title %}Download{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
    <h4>Titolo: {{ opera.titolo }}</h4>
    <p>Autore: {{ opera.autore }}<br>
    ISBN: {{ opera.isbn }}</p>
    <a target="_blank" href="{{ path('downloadpdf', {'codice': codice}) }}">Download ebook (PDF)</a>
    </div>
</div>
{% endblock %}