{% extends "::base.html.twig" %}

{% block title %}Nuovo{% endblock %}

{% block body %}
<h1>Inserisci nuovo ebook</h1>
<div class="row">
    <div class="col-lg-12">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}