{% extends "::base.html.twig" %}

{% block title %}Nuova opera{% endblock %}

{% block body %}
<h1>Inserisci nuova opera</h1>
<div class="row">
    <div class="col-lg-12">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-block" formnovalidate>CREA NUOVA OPERA</button>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
